*{
	font-family: 'Poppins','Roboto', sans-serif;
}
::selection{
	background-color: #EF6A0B;
	color: #fff;
}
img{
	width: 100%;
	display: block;
}

.header-master .header-top{
	background-color: #E2E2E2;
	color: #717171;
	font-size: 13px;
}
.whatsapp-color{
	color: #189D0E !important;
	font-weight: bold;
}
.header-top a{
	color: #717171;
	text-decoration: none;
}
.header-master .header-top a:hover{
	color: #EF6A0B;
}
.header-top .header-top-menu{
	width: 60%;
	display: flex;
	justify-content: flex-end;

}
.header-top .header-top-menu .child-menu{
	list-style: none;
	display: flex;
	margin: 0;
}
.header-top .header-top-menu .child-menu>li{
	display: inline-block;
}
.header-top .header-top-menu .child-menu>li>a{
	padding: 8px 0 8px 10px;
	display: block;
	font-size: 10px;
	text-transform: uppercase;
}
.header-top .header-top-menu .child-menu>li>a.active{
	color: #EF6A0B;
}

.wrapper-nav .user-wrapper{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.wrapper-nav .user-wrapper .user-menu{
	list-style: none;
	margin: 0;
}
.user-menu .dropdown-menu{
	right: 0 !important;
	left: auto !important;
}
.wrapper-nav .user-wrapper .user-menu>li{
	display: inline-block;
}

.wrapper-nav a{
	color: #2a2a2a;
}
.wrapper-nav .user-wrapper .user-menu>li>a{
	padding: 8px 0 8px 10px;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.wrapper-nav .user-wrapper .user-menu>li>a:hover{
	color: #EF6A0B;
}
.header-main{
	background-color: #f5f5f5;
	/*border-bottom: 1px solid #EF6A0B;*/
}
.header-main .logo{
	/*width: 17%;*/
	width: 10%;
}
.logo-sm{
	width: 10% !important;
}
.header-main .logo img{
	width: 100%;
}
.header-main .wrapper-nav{
	width: 83%;
	position: relative;
}
.wrapper-nav .search-form {
	position: absolute;
	width: 400px;
	right: 0;
	z-index: 1000;
	background-color: #fff;
	padding: 10px;
	display: none;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	border-radius: 4px;
}
.search-form .input-group{
	width: 100%;
}
.form-control:focus{
	border-color: #EF6A0B;
	box-shadow: 0 0 0 0.1rem rgb(239, 106, 11,0.3);
}
.header-main .wrapper-nav .main-menu{
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

.header-main .wrapper-nav .main-menu>li{
	display: inline-block;
}
.header-main .wrapper-nav .main-menu>li>a{
	padding: 8px 0 8px 20px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}
.header-main .wrapper-nav .main-menu>li>a:hover{
	color: #0072c6;
}
.text-xlg{
	font-size: 60px;
}
/* styles for news*/
.news-content{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
}
.news-content>.news-item{
	width: 31%;
	margin-top: 40px;
	overflow: hidden;
	padding: 20px;

}
.news-content>.news-item:hover{
	transition: box-shadow .5s;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.news-content>.news-item img{
	margin-bottom: 10px;
}
.news-content>.news-item small{
	color: #EF6A0B;
	margin-top: 20px;
}
.news-content >.news-item >.title{
	font-size: 19px;
	margin-top: 15px;
}
.news-content >.news-item >.title a{
	color: #444444;
	text-decoration: none;
}
.news-content >.news-item >.title a:hover{
	color: #EF6A0B;
}
.logomain{
	width: 220px;
	height: auto;
}
.bg-fullwidth{
	width: 100%;
	background-color: #1D509E;
	position: relative;
	height: 100vh;
}
.bg-fullwidth .auth-content{
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	text-align: center;
}
.auth-content .layout-form{
	width: 70%;
}
.navtextomain{
	font-size: 0.8em !important;
}
/*.navbg{
	background-color: #F5F5F5 !important;
}*/

.bg-orange {
  background-color: #EF6A0B !important;
}

.black{
	color: #000000 !important;
}
.white{
	color: #FFFFFF !important;
}
.nav-item > a{
	color: #2a2a2a;
}
.nav-item > a:hover{
	color: #EF6A0B;
}
.bg-blue{
	background-color: #1D509E;
	color: #fff;
}
.btn-orange{
	background-color: #EF6A0B;
	color: #fff;
}
.btn-orange:hover{
	background-color: #EF6A0B;
	color: #fff;
}
.btn-outline-orange {
    color: #EF6A0B;
    background-color: transparent;
    background-image: none;
    border-color: #EF6A0B;
}
.btn-blue{
	background-color: #1D509E;
	color: #fff;
}
.btn-blue:hover{
	background-color: #1D509E;
	color: #fff;
}
.btn-outline-blue {
    color: #1D509E;
    background-color: transparent;
    background-image: none;
    border-color: #1D509E;
}

.btn-outline-orange:hover {
    color: #fff;
    background-color: #EF6A0B;
    border-color: #EF6A0B;
}

/*Fondos con PARALLAX*/
.bgparallax{
	background-attachment:fixed;
	background-size:cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
.range{background-image:url(../css/background/grifo.jpg);}
.c{background-image:url(../css/background/c.jpg);}

/* Flexs*/
.flexwrapper{
	flex-wrap: wrap;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}
.text-blue{
	color: #1D509E;
}

input[type="checkbox"]:hover{
	cursor: pointer;
}

.browser{
	background-color: #4C4C4C;
	color: #FFFFFF;
	border-color: #111111;
}
.filterbrowser{
	background-color: #5A5A5A;
	border-color: #111111;
}
.filterbrowser a{
	text-decoration: none;
	cursor: pointer;
	font-size: 0.8rem;
}
.category{
	width: 49.5%;
	padding:2px 0.25%;
	color: #797979;
	font-size: 0.7rem;
}
.product a{
	width: 100%;
	text-decoration: none;
}
.profile{
	border: 1px solid #E0E0E0;
	width: 31.5%;
	padding: 20px;
	margin: 10px;
}
.profile a{
	text-decoration: none;
	color: #000 !important;
}
.product img{
	border: 1px solid #E0E0E0;
	width: 100%;
	height: auto;
	padding: 20px;
}
.product h4{
	font-size: 0.90rem;
	color: #797979;
	padding: 15px 0;
	font-weight: bold;
}
.product p{
	font-size: 0.9rem;
	color: #797979;
}
.product:hover a h4{
	color: #EF6A0B;
}
/*.product:hover a img{
	border:1px solid #797979;
}*/

.fullimage{
	width: 100%;
	height: auto;
}

footer{
	background-color: #F5F5F5;
}
.menufooter{
	display: inline-block;
	padding: 0;
	margin:0;
	list-style: none;
}
.menufooter li{
	padding: 2px 10px;
	border-right: 1px solid #797979;
	margin:  20px 0;
}
.menufooter li a{
	color: #797979;
	text-decoration: none;
	font-size: 14px;
}
.menufooter li a:hover{
	color: #EF6A0B;	
}
.menufooter li:nth-last-child(1){
	border-right: none;
}
.redes>.menufooter li{
	border-right: none !important;
}
.social{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #FFFFFF !important;
	text-decoration: none;	
	display:flex;	
	justify-content: center;
	align-items: center;
	margin-left: 5px;
}
.social:hover{
	color: #FFFFFF;
}
.linked{background-color: #0077B5;}
.linked:hover{background-color: #0BAAFF;text-decoration: none;}
.youtube{background-color: #EE1C1B;}
.youtube:hover{background-color: #F46A6A;text-decoration: none;}
.face{background-color: #3B5999;}
.face:hover{background-color: #7591CA; text-decoration: none;}
.plus{background-color: #DD4B39;}
.plus:hover{background-color: #EA8C82; text-decoration: none;}
.tweet{background-color: #00BBF2;}
.tweet:hover{background-color: #5EDBFF; text-decoration: none;}

.whatsapp{
	border-radius: 50%;
	background-color: #189D0E;
	color: #FFFFFF !important;
	font-size: 0.84em;
	text-decoration: none;
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
}
.whatsapp:hover{
	color: #FFFFFF !important;
	text-decoration: none;
}

.mobilecenter{
	display: inline;
}

/*BG colors*/
.darkgray{
	background-color: #4C4C4C;
	color: #FFFFFF;
}
.gray{
	background-color: #5A5A5A;
	color: #FFFFFF;
}

/*Color*/
.orange-text{
	color: #CB6031;
}
.orange-link{
	color: #CB6031;
}
.orange-link:hover{color: #DA8763;text-decoration: none;}
.sharer{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	
}
.sharer>.fa{
	position: absolute;
	top: 50;
	font-size: 25px;
}
.sharer:hover{
	text-decoration: none !important;
	color: #FFFFFF;
}
.graytext{
	color: #757575 !important;
}



/* Panel style*/
.upload-content{
	width: 100%;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 4px dotted #D5D8DC;
	text-align: center;
	color: #ABB2B9;
}
.upload-content .file-image>img{
	width: 100%;
}
.upload-content:hover{
	cursor: pointer;
}

.new{
	padding: 15px 0.25%;
	width: 99.5%;
	font-size: 1.1em;
	color: #0072C6;
	text-decoration: none;
}
.new img{
	width: 100%;
	padding-bottom: 5px;
}
.new span{
	font-size: 0.8em;
	color: #818181;
}
.new:hover{
	color: #F58020;
	text-decoration: none;
}
.new:hover img{
	opacity: 0% !important;
}
.mobile-header{
	display: none;
}
@media screen and (max-width: 1200px){
	.header-top .header-top-menu{
		width: 90%;
	}
}
@media screen and (max-width: 970px){
	.menufooter{
		text-align: center;
	}
	.bg-fullwidth .auth-content{
		width: 100%;
	}
	.mobilecenter{
		text-align: center;
		justify-content: center;
	}
	.header-master{
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1000;
		background-color: #fff;
		right: 100%;
	}
	.header-top .header-top-menu{
		width: 100%;
	}
	.header-top .header-top-menu .child-menu{
		display: block;
		width: 100%;
		padding: 0;
		text-align: center;
	}
	.header-top .header-top-menu .child-menu>li{
		display: block;
	}
	.header-main .wrapper-nav{
		width: 100%;
	}
	.header-main .wrapper-nav .main-menu{
		width: 100%;
		flex-wrap: wrap;
		padding: 0;
		text-align: center;
	}
	.header-main .wrapper-nav .main-menu>li{
		display: block;
		width: 100%;
	}
	.header-main .wrapper-nav .main-menu>li>a{
		display: block;
	}
	.mobile-header{
		width: 100%;
		display: flex;
		position: relative;
		padding: 10px;
		align-items: center;
	}
	.mobile-header .logo-mobile{
		width: 20%;
	}
	.mobile-header .logo-mobile img{
		width: 100%;
	}
	.mobile-header .header-mobile-wrapper{
		width: 80%;
		display: flex;
		justify-content: flex-end;
	}
	.mobile-header .header-mobile-wrapper #icono{
		font-size: 20px;
		cursor: pointer;
		color: #EF6A0B;
	}
	.wrapper-nav .user-wrapper{
		flex-wrap: wrap;
		width: 100%;
	}
	.wrapper-nav .user-wrapper .user-menu{
		width: 100%;
		padding: 0;
		text-align: center;
		transform: rotate(180deg);
	}
	.wrapper-nav .user-wrapper .user-menu>li{
		padding: 0;
		transform: rotate(-180deg);
		width: 100%;
	}
	.wrapper-nav .user-wrapper .user-menu>li>a{
		display: block;
	}
	.user-menu .dropdown-menu{
		position: relative !important;
		width: 100%;
		transform: none !important;
		border: none;
		text-align: center;
	}
	.wrapper-nav .search-form{
		width: 100%;
		left: 0;
	}
	.news-content>.news-item{
		width: 100%;
	}
}
